<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wepay.wepay"
    android:versionCode="1"
    android:versionName="1.0" >
	
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

</manifest>
